@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rowdies', cursive, sans-serif;
}
::-moz-selection { 
    background: #27855e;
    color: white;
  }
  
  ::selection {
    background: #27855e;
    color:#fff;
  }
  

/********** header start***********/
header{
    width: 100%;
    height: 80px;
    background-color: #92e3a9;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.logo{
    margin-left: 10px;
    font-size: x-large;
    font-weight: bold;
    color: #273238;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    
}
header nav{
    display: inline-block;
    padding: 0 10px 0 10px;
    
}
header nav a{
    margin: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #273238;
    font-weight: 300;
    border-radius:25px;
    padding:8px 15px;
    transition:0.5s;
    
}
header nav a:hover{
    background-color:#3da076;
    color:#fff;
    box-shadow:0 5px 10px rgba(0,0,0,0,10);
}

header label{
    display: none;
}
header label::before{
    content: "\f0c9";
    font-family: "FontAwesome";
    font-size: 25px;
    cursor: pointer;
    color: #273238;
    
}
header input[type="checkbox"]{
    display: none;
}

/**********header end***********/

/**********main start***********/
.main{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 40px;
}
.right{
    max-width: 500px;
}
.right img{
    width: 100%;
    height: 100%;
}
.left{
    max-width: 500px;
    padding: 40px 10px;
}
.title-main{
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #273238;
}
.text-main{
    font-size: 1em;
    text-align: start;
    text-transform: lowercase;
    margin: 20px 0;
    line-height: 25px;
    font-weight: 300;
}
.btn{
    border: none;
    background-color: #92e3a9;
    border-radius:25px;
    padding:10px 20px;
    letter-spacing: 1px;
    font-weight: 500;
    transition:0.5s;
    cursor: pointer;
    color: #273238;
    margin-top: 20px;
    box-shadow:  5px 5px 5px 0 rgb(0 0 0 / 30%);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    -webkit-transition:0.5s;
    -moz-transition:0.5s;
    -ms-transition:0.5s;
    -o-transition:0.5s;
}
.btn:hover{
    background-color:#3da076;
    color:#fff;
    box-shadow:0 5px 10px rgba(0,0,0,0,1);
/*********main end************/}

/**********about start***********/
.about{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #92e3a9;
}
.about-right{
    width: 50%;
    height: 50%;
}
.about-right img{
    width: 100%;
    height: 50%;
}
.about-left{
    text-align: center;    
    transform: translate(0px, 0px);
    color: #273238;
    padding: 10px;
}
.title-about{
    padding-bottom: 27px; 
    font-size: xx-large;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 4px 0px rgb(0 0 0 / 30%);
}

.about-left p{
    font-size: 15px;
    text-align: center;
    padding-bottom: 40px;
    text-transform: capitalize;
    line-height: 40px;
    font-weight: 300;
}

.icon-about{
    display: flex;
    justify-content: center;
    gap: 45px;
    padding-top: 15px;
}
.like, 
.dislike{
    border: none;
    color: #273238;
    background-color: #92e3a9;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: .2s ease-in-out;
}
.like:hover, 
.dislike:hover{
        background-color: #3da076;
        color: white;
}
/**********about end***********/


/**********card start***********/
.card{
    width: 100%;
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
    
}
.container-card{
    background-color: rgb(255, 255, 255);
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 350px;
    transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    cursor: pointer;
}
.container-card:hover{
    box-shadow: 0px 1px 10px 1px #000;
    background-color: #92e3a9;
    transform: scale(1);
}

.icon-card{
   color: #3da076;
   font-size: 3.5em;
   padding-bottom: 10px;
}
.container-card:hover .icon-card{
    color: white;
}

.title-card{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    color: #273238;
}
.msg-card{
    text-transform: capitalize;
    font-size: 0.9em;
    text-align: center;
    padding: 0px 20px;
    color: #273238;
    font-weight: 300;
}
/**********card end***********/

/*********contrat start************/
.contrat{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: #92e3a9;
}
.contrat-left{
    width: 25%;
    height: 50%;
}
.img-contrat{
    width: 100%;
    height: 50%;
}
.contrat-right{
    width: 60%;
    padding: 20px;
    text-align: center;
    color: #273238;
    transform: translate(0px, 0px);
}
.title-contrat{
    padding-bottom: 27px;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 4px 0px rgb(0 0 0 / 30%);
}
.msg-contrat{
    font-size: 1em;
    text-align: center;
    padding-bottom: 20px;
    text-transform: capitalize;
    line-height: 26px;
    font-weight: 300;
}

.btn-contrat{
    border: none;
    background-color: #92e3a9;
    border-radius:25px;
    padding:8px 15px;
    transition:0.5s;
    cursor: pointer;
    color: #273238;
    margin-top: 20px;
    box-shadow:  5px 5px 5px 0 rgb(0 0 0 / 30%);
}
.btn-contrat:hover{
    background-color:#3da076;
    color:#fff;
    box-shadow:0 5px 10px rgba(0,0,0,0,1);
}
/*********contrat end************/
/*********vehicule Start************/
.vehicule{
    width: 100%;
    padding: 0px 20px 20px 20px;
}
.img-vehicule{
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
    transition: all 0.5s;
}
.img-vehicule:hover{
    transform: scale(1.1);
    border-radius: 13px;
}

.content-vehicule{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 20px 0;
  
}
.title-vehicule{
    color: #273238;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    position: relative;
    padding: 20px 0px;
}
h1.title-vehicule::before {
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: 45deg;
    position: relative;
    left: -40px;
}
h1.title-vehicule::after {
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: -45deg;
    position: relative;
    right: -40px;
}
.card-vehicule{
    background-color: white;
    width: 300px;
    height: 400px;
    text-align: center;
    box-shadow: 0px 1px 10px 1px #000;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
}
.card-vehicule h3{
    font-size: 1.5em;
    padding-bottom: 10px;
    text-transform: capitalize;
    font-weight: 600;
    color: #273238;
}
.card-vehicule p{
    font-size: 0.9em;
    padding: 0px 10px 10px 10px;
    color: #273238;
    font-weight: 300;
}
.card-vehicule span{
    color: #3da076;
    padding-bottom: 20px;
}
.buy{
    width: 100px;
    text-transform: uppercase;
    border-radius: 25px;
    margin: 0 auto;
    background-color:#3da076;
    display: block;
    font-size: 1.3em;
    text-decoration: none;
    color:#ffffff;
    letter-spacing: 1px;
    transition: all 0.5s;
    padding: 10px;
    margin-top: 10px;
}
.buy:hover{
    background-color: #27855e;
    color: white;
    transform: scale(1);
    width: 150px;
}
/*********vehicule end************/
/*********services start************/
#services{
    width: 100%;
    overflow: hidden;
    background-color: #92e3a9;
}
#services .container-card-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 20px;
    margin-bottom:10px ;
    
}
.title-services{
    color: #273238;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px 0px;
}
.title-services::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: 45deg;
    position: relative;
    left: -40px;
}
.title-services::after{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: -45deg;
    position: relative;
    right: -40px;
}
.card-services img{
    display: block;
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    
}
.card-services{
    width: 400px;
    height: 0%;
    bottom: 0;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 10px 1px #000;
    
}
.card-services .content-card-services {
   position: absolute;
   text-align: center;
   background-color: rgba(61,160,118, 55%);
   width: 100%;
   height: 100%;
   padding-top:  25%;
   visibility: hidden;
   transition: all 0.5s;
   color: white;
   
}
.card-services:hover .content-card-services{
   transform: translate(0%, -100%);
   text-align: center;
   background-color: rgba(61,160,118, 55%);
   width: 100%;
   height: 100%;
   visibility: visible;
   -webkit-transform: translate(0%, -100%);
   -moz-transform: translate(0%, -100%);
   -ms-transform: translate(0%, -100%);
   -o-transform: translate(0%, -100%);
}
.card-services:hover .content-card-services .card-title{
    font-size: 1.2em;
    padding-bottom: 10px;
} 
.card-services:hover .content-card-services .txt-card{
    font-size: 14px;
}

/*****************OUR TEAM START*******************/

#team{
    width: 100%;
    padding: 20px 0;
    
}
.content-team{
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:25px;
    
}
.title-team{
    color: #273238;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px 0px;
}
.title-team::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: 45deg;
    position: relative;
    left: -40px;
}
.title-team::after{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: -45deg;
    position: relative;
    right: -40px;
}
.card-team{
    width: 18rem;
    height: 29rem;
    background-color: #92e3a9;
    border-radius: 3rem;
    margin: 0px auto;
    box-shadow: 0px 1px 10px 1px #000;
}
.con-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.con-team .img-profile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    
}

.con-team .img-profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    transition: all 2s;
}
.con-team:hover .img-profile img{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
.name{
    color: #273238;
    margin-bottom: 20px;
    
}
.p-card{
    color: #273238;
    margin-bottom: 20px;
    text-align: center;
    padding: 0px 10px;
    font-weight: 300;
}
.btn-one{
    padding: 10px;
    border: none;
    outline: none;
    background-color: #3da076;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s all;
}
.btn-one a{
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    transition: all 0.5s;
    padding: 20px;
    font-weight: 300;
}
.btn-one:hover{
    background-color: #27855e;
}
.icon-profile{
    padding: 15px;
    display: flex;
    gap: 33px;
}
.icon-profile a{
    color: #273238;
    font-size: 1.2em;
    transition: all 0.5s;
   position: relative;
   
}
.icon-profile a:hover{
    
    font-size: 2em;
}

/*****************OUR TEAM END*******************/
/*****************CONTACT START *******************/
#contact{
   width: 100%;
   min-height: 100%;
   background-color: #92e3a9;
   margin: 0px auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#contact h1{
    color: #273238;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px 0px;
}
#contact h1::before{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: 45deg;
    position: relative;
    left: -40px;
}
#contact h1::after{
    content: "";
    width: 20px;
    height: 20px;
    background: #3da076;
    rotate: -45deg;
    position: relative;
    right: -40px;
}
#contact .contact-content form{
    width: 400px;
    height:450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 1px 10px 1px #000;
    margin-bottom: 30px;
    

}
#contact .contact-content form span{
    padding: 10px 0;
    color: #273238;
    text-transform: capitalize;
    font-size: 1.4em;
    
    
}
.contact-content  form input{
    outline: none;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #273238;
    margin: 10px 0;
    width: 100%;
}
.contact-content  form input::placeholder{
    text-align: center;
}
.contact-content  form textarea{
    outline: none;
    padding: 10px 15px;
    border: none;
    border-bottom: 2px solid #273238;
    margin: 10px 0;
    resize: none;
}
.contact-content  form textarea::placeholder{
    text-align: center;
}
.contact-content form a{
    text-decoration: none;
    font-size: 1.3em;
    font-weight: 300;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #3da076;
    transition: all 0.5s;
}
.contact-content form a:hover{
    background-color: #27855e;
}
/*****************END CONTACT *******************/
/*****************START FOOTER *******************/
#footer{
    width: 100%;
    height: 50px;
    display: flex;
    color: #273238;
    justify-content: center;
    align-items: center;
}
#footer span{
    color: #27855e;
}


/*****************END FOOTER *******************/
/*****************RESPONSIVE*******************/
@media (max-width:1130px){
    header nav a{
        font-size: 1em;
    }
    .main{
        padding: 0px 40px;
    }
    .title-main {
        font-size: 1.5em;
        font-weight: 900;
    }
    .text-main {
        font-size: 1em;
       text-align: start;
    }
    .right img{
        height: 90%;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .left{
        margin-top: 30px;
    }
    .about-right{
        width: 50%;
        height: 238px;
    }
    .about-right img {
        width: 100%;
        height: 248px;
    }
    .title-about{
        font-size:1.5em;
        font-weight:500;
     }
     .about-left p{
        font-size: 14px;
        line-height: 29px;
     }
     .container-card {
        width:350px;
        height:250px;
     }
     .icon-card{
         font-size: 3em;
     }
     .title-card{
         font-weight: 600;
         font-size: 1.3em
     }
     .msg-card{
         font-size: 0.8em;
     }
     .contrat-left {
        width: 30%;
        height: 254px;
    }
    .img-contrat {
        width: 100%;
        height: 254px;
    }
    .title-contrat {
        font-size: 1.4em;
    }
    .msg-contrat {
        font-size: 0.8em;
        line-height: 29px;
    }
    
}
@media (max-width:1061px){
    header nav a {
        font-size: 1em;
    }
}
@media (max-width:1020px){
    header nav a {
        font-size: 1em;
    }
    .icon-nav a{
        font-size: 13px;
    }
}
@media (max-width:985px){
    header label{
        display: block;
    }
    header nav {
        position: absolute;
        top: 80px;
        left: -5000px;
        background-color: #92e3a9;
        border-top: 2px solid #27855e;
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:25px;
    }
    header nav a {
        font-size: 17px;

    }
    header input[type="checkbox"]:checked + nav{
        left: 0;
        transition: left .5s ease-in-out;
        -webkit-transition: left .5s ease-in-out;
        -moz-transition: left .5s ease-in-out;
        -ms-transition: left .5s ease-in-out;
        -o-transition: left .5s ease-in-out;
}
    .main .right {
            max-width: 400px;
    }
    .main .left .text-main{
        text-align: start;
        font-size: 1em;
    }
@media (max-width: 889px){
    .main .left .title-main{
        font-size: 1.5em;
    }
    .main .left .text-main{
        text-align: start;
        font-size: 1em;
    }
    .about .about-right {
       width: 100%;
       height: 252px;
    }
      .about-right img{
       width: 100%;
       height: 252px;
    }
    }
    .about .about-left{
        width: 100%;
        padding: 0px 20px;
    }
    .about .about-left .title-about{
        font-size: 1.5em;
        font-weight: 900;
        position: relative;
        top: 10px;
    }
    .about .about-left .msg-about{
        font-size: 0.8em;
        font-weight: 400;
    }
    .about .about-left .icon-about button{
        font-size: 1em;
    }
    .card .container-card {
        width: 300px;
        height: 200px;
    }
    .card .container-card .icon-card {
        font-size: 2em;
        padding: 15px;
    }
    .card .container-card .title-card {
        font-weight: 600;
        font-size: 1em;
    }
    .card .container-card .msg-card{
        font-size: 0.7em;
        font-weight: 900;
    }
    #services .container-card-services .card-services{
        width: 300px;
 }
}
@media (max-width: 985px){
    .about .about-left .title-about {
        font-size: 1.4em;
        font-weight: 900;
    }
    .about .about-left .msg-about {
        font-size: 11px;
        font-weight: 300;
        text-align: start;
    }
    .about .about-left {
        width: 100%;
        padding: 0px 20px;
    }
    
    .about .about-right {
        width: 100%;
        height: 366px;
    }
    .about .about-right img {
        width: 100%;
        height: 366px;
    }
}
@media (max-width: 879px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .main .left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
    }
    .main .left .title-main{
        font-size: 1.5em;
    }
}
@media (max-width: 788px){
    .about .about-right {
        width: 90%;
        height: 304px;
    }
    .about .about-right img {
        width: 70%;
        height: 304px;
        display: flex;
        margin: 0 auto;
    }
    @media (max-width: 613px){
    .about{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    }
    .contrat{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contrat .contrat-left {
        width: 60%;
    }
    .contrat .contrat-right{
        width: 100%;
    }
@media (max-width:481px){
    #contact .contact-content form{
        width: 300px;
    }
    #footer .footer-content{
        text-align: center;
    }
}
/**************KEYFRAME******************/

/* @keyframes moving{
    from{
        transform:translateY(0%,100%%) ;
        -webkit-transform:translateY(0%,100%%) ;
        -moz-transform:translateY(0%,100%%) ;
        -ms-transform:translateY(0%,100%%) ;
        -o-transform:translateY(0%,100%%) ;
}
    to{
        transform:translateY(100%,0%);
        -webkit-transform:translateY(100%,0%);
        -moz-transform:translateY(100%,0%);
        -ms-transform:translateY(100%,0%);
        -o-transform:translateY(100%,0%);

    } 
    */
